html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgray;
}
body {
  width: max-content;
}
@media only screen and (max-width: 850px) {
  .cards {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}
.cards {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
.card {
  width: 25vw;
  padding: 10px;
  background-color: white;
  border-radius: 0.5rem;
}
img {
  max-width: 100%;
  border-radius: 0.5rem;
}
.texto {
  margin: 0;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 1.5vmax;
  margin-bottom: 2px;
}
h5 {
  font-size: 1vmax;
  margin: 15px 0 7px;
  color: darkgrey;
}
.tallas {
  width: 24vw;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.compra {
  gap: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 30px;
  width: 25vw;
  color: white;
  background-color: black;
}
button {
  font-size: 1vw;
  height: 34px;
  width: 4vw;
  background-color: white;
  border: darkgray solid 1px;
  border-radius: 0.5rem;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1vmax;
  height: 2vmax;
  width: 4vmax;
  /* padding: 5px 10px; */
  border: darkgray solid 1px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
span:hover {
  color: white;
  background-color: black;
}
.footer {
  gap: 20px;
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-items: center;
}
